.about-wrap {
  padding: 50px 0;
  padding-bottom: 30px; /* Added bottom padding */
}

.aboutImg img {
  width: 100%;
  border-radius: 10px;
}

.about_box {
  padding: 0;
  margin-left: 30px;
  
}

.about_box .title h1 {
  margin-bottom: 20px;
}

.edu_list {
  list-style: none;
  margin-top: 20px;
}

.learing-wrp {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.edu_icon {
    background: #000;
    width: 85px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    border-radius: 100%;
    margin-right: 20px;
    display: table;
}

.edu_icon img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.learn_info {
  margin-left: 10px;
}

.about-wrap .title h1 {
  font-size: 48px;
  color: #000;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: red;
  font-weight: bold;
}

p {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

special-education {
    color: red;
}

.edu_list li:nth-child(1) .edu_icon {
    background: #3db2d5;
}

.edu_list li:nth-child(2) .edu_icon {
    background: #3ab64c;
}

.edu_list li:nth-child(3) .edu_icon {
    background: #dd1146;
}

* {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.title h1 span {
    display: block;
}

.title h1 {
    font-size: 48px;
    color: #56225e;
    margin: 0;
    font-weight: bold;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.h1, h1 {
    font-size: 2.5rem;
}
