/* src/styles/App.css */
/* Import Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Add other global styles as needed */