/*********************************************
        Inner page title css
*********************************************/

.innerHeading-wrap2 {
    padding: 30px 0;
    background: url(../../images/inner_title_bg2.jpg) no-repeat top;
    background-size: cover;
    text-align: center;
  }
  
  .innerHeading-wrap2 h1 {
    margin-bottom: 5px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
  
  .innerHeading-wrap {
    padding: 30px 0;
    background: url(../images/inner_title_bg.jpg) no-repeat top;
    background-size: cover;
    text-align: center;
  }
  
  .innerHeading-wrap h1 {
    margin-bottom: 5px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
  
  .innerHeading-wrap ul {
    margin: 0px;
  }
  .innerHeading-wrap ul li {
    list-style: none;
    display: inline-block;
    color: #fff;
    margin-top: 5px;
    padding: 0px 4px;
    font-size: 15px;
  }
  .innerHeading-wrap ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  
  .innerContent-wrap{padding: 80px 0;}
  .innerContent-wrap .class-wrap{padding: 0; background: none;}
  .innerContent-wrap .class-wrap .class_box{background: #f7f7f7; margin: 15px auto;}